div{
    position: absolute; 
    aspect-ratio: 16/9; 
    width: 33.333%;
    background-color: #fff;
}
#sector0{
    top: 0;
    left: 0;
}
#sector1{
    top: 0;
    left: 33.333%;
    background-color: #aaa;
}
#sector2{
    top: 0;
    left: 66.667%;
    background-color: #777;
}
#sector3{
    top: 33.333%;
    left: 0;
    background-color: #aaa;
}
#sector4{
    top: 33.333%;
    left: 33.333%;
    background-color: #777;
}
#sector5{
    top: 33.333%;
    left: 66.667%;
    background-color: #444;
}
#sector6{
    top: 66.667%;
    left: 0;
    background-color: #777;
}
#sector7{
    top: 66.667%;
    left: 33.333%;
    background-color: #444;
}
#sector8{
    top: 66.667%;
    left: 66.667%;
    background-color: #000;
}
